
* {
	font-size: 14px;
}

button {
	outline: none !imortant;
	color: #333 !important;
	font-weight: 600 !important;
	-webkit-box-shadow: 0 0 5px #333;
	        box-shadow: 0 0 5px #333;
}

button, a {
	-webkit-transition: 0.3s;
	   -moz-transition: 0.3s;
	    -ms-transition: 0.3s;
	     -o-transition: 0.3s;
	        transition: 0.3s;
}

.filter_block.init {
  display: block !important;
  opacity: 0;
}

.pirate_festival_page .filter_block .filter_item > span.irs {
  width: 100%;
  margin-bottom: 15px;
}

.filter_item.ct {
  margin: 0 !important;
  margin-top: 20px !important;
  justify-content: space-between !important;
  padding: 0 10px;
}

.filter_item.ct > p {
  font-weight: bold;
  color: #ffffff;
}

.irs--modern .irs-grid-text {
	color: #ffffff !important;
}

.filter_item.ct input {
  width: 40px;
  height: 40px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
}

.filter_item.ct .block {
  position: relative;
}

.filter_item.ct .block > span {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  background: white;
  top: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body .page_wrapper, body .page_wrapper .body {
  display: flex;
  justify-content: center;
}

body .page_wrapper .body {
  width: 100vw;
  max-width: 700px;
  position: relative;
}

.menu {
	position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-image: url('../../images/bg_menu_2.jpg');
  background-size: cover;
  background-position: center;
  max-width: 700px;
}

.menu .button_wrapper {
	width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(51, 51, 51, 0.5);
  /* background-color: rgba(255, 255, 255, 0.4); */
  flex-direction: column;
}

.menu .button_wrapper button {
  width: 300px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: steelblue;
  color: #fff !important;
  margin-bottom: 15px;
}

.menu .button_wrapper button.pirate_festival {
  background-image: url('../../images/bg_pf_btn.png');
  background-position-x: -19px;
  background-position-y: -186px;
  text-shadow: 1px 1px 4px #333;
}

.menu .button_wrapper button.current_event {
  background-image: url('../../images/bg_event.png');
  background-position-x: 150px;
  background-position-y: -70px;
  text-shadow: 1px 1px 4px #333;
  background-size: 1000px;
  background-repeat: no-repeat;
}

.page {
	z-index: -1;
	bottom: -100vh;
	position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 700px;
  background-color: #fff;
  -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
      -ms-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
}

.page .text-body {
  color: #333;
  padding: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

.page .text-body p {
  font-size: 20px;
}

.pirate_festival_page .filter_block {
  max-width: 700px;
}

.page.event_page {
  padding: 15px;
  overflow: auto;
}

.md.wiki {
  color: #333;
}

.md.wiki h1 {
	font-size: 18px;
}

.md.wiki > ul {
  color: #333;
}

.pirate_festival_page {
	background-image: url('../../images/bg.jpg');
	background-size: cover;
	background-position: center;
}

.pirate_festival_page .search {
	width: 320px;
  margin: 0 auto;
  text-align: center;
  height: 40px;
  margin-top: 85px;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.pirate_festival_page .search input {
  height: 40px;
  border-radius: 5px;
  border: 0;
  padding: 0 5px;
  box-shadow: 1px 1px 4px #333;
  width: 270px;
}

.pirate_festival_page .search .filter {
  color: #333;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #333;
}

.pirate_festival_page .search .filter i {
  font-size: 20px;
}

.pirate_festival_page .search .filter i.fa-list,
.pirate_festival_page .search .filter.active i.fa-times {
  display: block;
}

.pirate_festival_page .search .filter.active i.fa-list,
.pirate_festival_page .search .filter .fa-times {
  display: none;
}

.pirate_festival_page .filter_block {
  position: absolute;
  top: 132px;
  display: none;
  width: 100vw;
}

.pirate_festival_page .filter_block .filter_wrapper {
  z-index: 10;
  background-color: #7d634c;
  background-size: 100% 100%;
  background-image: url('../../icons/bg/bg5.png');
  padding: 15px 5px;
  border-radius: 5px;
  width: 320px;
  margin: 0 auto;
  box-shadow: 1px 1px 4px #333;
  position: relative;
  overflow: hidden;
}

.pirate_festival_page .filter_block .filter_item.effect .tab-content .tab-pane {
  
}

.pirate_festival_page .filter_block .filter_item.effect .tab-content {
  width: 50%;
}

.pirate_festival_page .filter_block .filter_item.effect .nav.nav-tabs {
  display: flex;
  flex-direction: column;
  /* margin-right: 5px; */
  border: 0;
  border-right: 1px solid #333;
  width: 50%;
}

.pirate_festival_page .filter_block .filter_item.effect .nav.nav-tabs > li > a {
  border-radius: 0;
  padding: 5px;
  color: #333;
  margin: 0 !important;
  border: 0 !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
}

.pirate_festival_page .filter_block .filter_item.effect .nav.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  /* background-color: #333; */
  color: white;
}

.pirate_festival_page .filter_block .filter_item.effect .tab-content .tab-pane.active {
  height: 116px;
  overflow: auto;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.pirate_festival_page .filter_block .filter_item.effect .nav.nav-tabs > li > a i {
  display: none;
}

.pirate_festival_page .filter_block .filter_item.effect .nav.nav-tabs > li.active > a i {
  display: block;
  font-size: 9px;
}

.pirate_festival_page .filter_block .filter_item.effect .nav.nav-tabs > li:nth-child(1).active > a {
  background-color: #065e06;
}

.pirate_festival_page .filter_block .filter_item.effect .nav.nav-tabs > li:nth-child(2).active > a {
  background-color: #a01b1b;
}

.pirate_festival_page .filter_block .filter_item.effect .nav.nav-tabs > li:nth-child(3).active > a {
  background-color: #dd9715;
}

.pirate_festival_page .filter_block .filter_item.effect .nav.nav-tabs > li:nth-child(4).active > a {
  background-color: deepskyblue;
}

.pirate_festival_page .filter_block .filter_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.pirate_festival_page .filter_block .filter_item .fake_color_filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fake_color_filter > div {
  flex-grow: 1;
  text-align: center;
  padding: 5px 10px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

.fake_color_filter > div.psy {
  border-right: 0;
}

.pirate_festival_page .filter_block .filter_item.effect {
  /* margin: 0 -15px; */
  border-top: 1px solid #333;
  background-color: rgb(255 255 255 / 30%);
}

.pirate_festival_page .filter_block .filter_item .item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #333;
  /* min-height: 29px; */
}

.pirate_festival_page .filter_block .filter_item .item.active {
  background-color: #333;
  color: white;
}

.pirate_festival_page .filter_block .filter_item .item input {
  display: none;
}

.pirate_festival_page .filter_block .filter_item .item input,
.pirate_festival_page .filter_block .filter_item .item label {
  margin: 0;
  /* margin-right: 5px; */
  text-align: center;
  padding: 5px;
}

.pirate_festival_page .filter_block .filter_item span.title {
  width: 70px;
  display: flex;
  align-items: center;
}

.pirate_festival_page .filter_block .filter_item select {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  display: none;
}

.pirate_festival_page .filter_block .filter_item .fa_filter {
	padding: 11px 5px;
	width: 150px;
	text-align: center;
	border-radius: 3px;
	color: #ffffff;
	font-weight: 500;
	position: relative;
}

.pirate_festival_page .filter_block .filter_item .fa_filter::before {
  content: "";
  background: url('../../icons/bg/bg4.png') no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.fa_filter_panel {
	position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
      -ms-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
}

.fa_filter_panel.active {
	left: 0;
}

.fa_filter_panel {
	height: 190px;
  box-shadow: 0px 2px 12px 3px rgb(51 51 51);
}

.fa_filter_panel > div:not(.close_panel) {
	display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 30px);
}

.color_filter_panel {
	visibility: hidden;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 190px;
  background-color: #ffffff;
  width: calc(100% - 30px);
}

.filter_panel {
	visibility: hidden;
	position: absolute;
  width: 100%;
  height: 190px;
  background-color: #ffffff;
  top: 0;
  left: 0;
}

.class_filter_panel {
	padding: 20px 0;
}

.class_filter_panel > div {
	width: calc(100% / 4);
  padding: 5px;
  text-align: center;
}

.filter_panel > div {
	position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_panel > div.active::before {
	content: "";
  position: absolute;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
}

.filter_panel > div img {
	height: 50px;
  width: auto;
}

.color_filter_panel.active,
.filter_panel.active {
	visibility: visible;
}

.color_filter_panel > div {
	width: calc(100% / 3);
  text-align: center;
}

.close_panel {
	position: absolute;
  top: 0;
  right: 0;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cccccc;
  color: #ffffff;
  padding: 0 15px;
  width: 20px;
}

.pirate_festival_page .body_page {
	height: calc(100vh - 175px);
  background-color: rgba(51, 51, 51, 0.9);
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.back_to_menu i {
	color: white;
  text-shadow: 0 0 2px #333;
}

.bottom {
	bottom: -100vh;
}

.bottom.active {
	bottom: 0;
}

.top {
	top: -100vh;
}

.top.active {
	top: 0;
}

.left {
	left: -100vw;
}

.left.active {
	left: 0;
}

.right {
	right: -100vw;
}

.right.active {
	right: 0;
}

.back_to_menu {
	z-index: 2;
	padding: 10px 15px;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.pirate_festival_page .char {
	display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

.pirate_festival_page .char .sm_img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  background-color: rgb(128 128 128 / 50%);
}

.pirate_festival_page .char .sm_img.no_img {
  background-color: transparent;
}

.pirate_festival_page .char .info_wrapper {
  width: calc(100% - 80px);
}

.pirate_festival_page .char .sm_img img {
  width: 80px;
}

.pirate_festival_page .color span {
	text-transform: uppercase;
  padding: 2px;
}

.pirate_festival_page .name {
	margin-right: 15px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #fff;
}

.pirate_festival_page .color {
  color: #fff;
  width: 100%;
}

.pirate_festival_page .color .stars {
  text-transform: uppercase;
  color: #ffd808;
}

.str {
	color: red !important;
}

.qck {
	color: lightskyblue !important;
}

.dex {
	color: lightgreen !important;
}

.psy {
	color: gold !important;
}

.int {
	color: orchid !important;
}

.modal .modal-dialog {
	max-height: calc(100vh - 20px);
}

.modal .modal-dialog .modal-content {
	height: 100%;
}

.modal .modal-dialog .modal-content .modal-header {
	/* height: 56px; */
}

.modal .modal-dialog .modal-content .modal-body .info_wrapper {
  max-height: 270px;
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* iphone */
  line-height: 24px;
}

.modal .img_wrapper {
	width: 300px;
  border-radius: 5px;
  margin: 0 auto;
}

.modal .img_wrapper img {
  width: 100%;
  min-height: 240px;
}

.modal button {
	box-shadow: unset;
}

.modal .modal-body .info_wrapper .info {
	margin-bottom: 10px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}

.modal .modal-body .info_wrapper .info b {
  text-transform: uppercase;
  width: 100%;
}

.modal .modal-body .info_wrapper .info > span:first-child {
  display: flex;
  flex-wrap: wrap;
}

.modal .modal-body .info_wrapper .info > span.skill_des > p:last-child {
  margin-bottom: 0;
}

.modal .modal-body .info_wrapper .info.class {
	padding-top: 14px;
}

.reset_filter {
  background-image: url('../../images/reset_filter.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 9px;
  right: 9px;
}

@keyframes merry{from{background-position:0 0}to{background-position:0 -3600px}}
@keyframes sunny{from{background-position:0 0}to{background-position:0 -3720px}}

.scroll_wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 30px;
  right: 10px;
  width: 40px;
  height: 82px;
}

.scroll_wrapper i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: rgb(10 84 10 / 80%);
  color: #ffffff;
}

.scroll_wrapper i:first-child {
  margin-bottom: 2px;
}

span.nt_class img {
  width: 20px;
  margin-right: 5px;
  margin-top: -3px;
}

span.nt_color {
  color: #ffffff !important;
  border-radius: 14px;
  padding: 2px 6px;
  font-weight: bold;
}

span.nt_color.qck {
  background: lightskyblue;
}

span.nt_color.str {
  background: salmon;
}

span.nt_color.dex {
  background: lightgreen;
}

span.nt_color.psy {
  background: gold;
}

span.nt_color.int {
  background: orchid;
}

/* Mirror button hover */
  .ht_mirror {
    display: flex;
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .ht_mirror:after {
    background: #fff;
    height: calc(100% + 50px);
    left: -40px;
    top: -25px;
    width: 20px;
    z-index: 1;
    content: "";
    opacity: .2;
    position: absolute;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }

  .modal.in .ht_mirror:after {
    animation-name: ht_mirror;
    animation-duration: 4s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
    animation-iteration-count: infinite;
  }

  /* .ht_mirror:hover:after {
    left: 145%;
    transition: all 3000ms cubic-bezier(0.19,1,0.22,1);
  } */

  @keyframes ht_mirror {
    from {
      left: -40px;
    }

    to {
      left: 300%;
    }
  }
/* End Flash button hover */

/* Responsive */
  @media (max-width: 480px) {
    .modal .img_wrapper {
      width: 100%;
    }
  }
/* End Responsive */